{erl_opts, [
            warnings_as_errors,
            warn_untyped_record,
            warn_unused_import,
            warn_export_all,
            warn_export_vars,
            warn_shadow_vars,
            warn_unused_function,
            warn_deprecated_function,
            warn_obsolete_guard,
            warn_unused_import,
            debug_info,
            {i, ["include"]},
            {src_dirs, ["src"]},
            {parse_transform, lager_transform}
           ]
}.

{plugins, [rebar3_hex]}.

{deps, [{lager, "3.6.2"}]}.

{require_min_otp_vsn, "20"}.
